body {
/*  width: 100%;*/
  margin: 0 auto;
   background-repeat: no-repeat;
  background: linear-gradient(black,black,#400000,#FF1919, #BF0000, #400000,black);
  overflow-y: hidden;
  overflow-x: hidden;
  height: 1400px;

}

/*section {
  width: 75%;
  background-color: white;
  height: 100%;
  top: -10px;
  position: relative;
  left: 13%;
  z-index: 99900;

/*  box-shadow: 2px 2px 3px white;*/
/*}*/

#sidebar{
position: absolute;
left: 1250px;
background-color: blue;
}


#main-box {
  width: 610px;
  height: 30px;
  background-color: black;
  position: relative;
  left: -70px;
  top: 20px;
  margin-left: 40px;
}

#main-box h1 {
  color: white;
  position: relative;
  left: 129px;
  top: -2px;
  font-family: 'IM Fell French Canon SC', sans-serif;
  font-size: 22px;
  font-style: italic;
  color: red;
}

main{
  width: 70%;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color:#E7DC9D;
/*  background-image:
      radial-gradient(#AFEC23 9px, transparent 10px),
      repeating-radial-gradient(#AFEC23 0, #AFEC23 4px, transparent 5px, transparent 20px, #AFEC23 21px, #AFEC23 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 50 50;*/

/*background-color: #000000;

background-image: url(http://www.transparenttextures.com/patterns/black-thread.png);*/
  z-index: 99900;
  top: -104px;
 /* box-shadow: 3px 3px 3px white;*/
 border-left: 4px double #222E44;
 border-right: 4px double #222E44;
  /*top: -90px;*/
}








