body {
  width: 1080px;
  height: 1000px;
  position: absolute;
  background-color: black;
  overflow-y: hidden;
}

#header {
  width: 105.5%;
  height: 183px;
  background-color: black;
  float:left;
  top: -30px;
  left: -70px;
  position: fixed;
  z-index: 99999;
  border-bottom: 6px solid red;
}

#header h3 {
  position: absolute;
  top: -10px;
  color: red;
  left:425px;
  font-family: Almendra;
}



main{
  width: 129%;
  height: 650px;
  position: fixed;
  background-image: url('../img/bkgcon.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 55px;
  left: -260px;
  top: 130px;
}



#wrapper-box {
  position: relative;
  width: 525px;
  margin-top: 100px;
  left: 50px;
  top: 90px;
  z-index: 99998;
}

#title {
  color: red;
  font-size: 42px;
  position: relative;
  top: -305px;
  font-family: 'Jacques Francois Shadow';
}

#title h1{
position: relative;
top: -5px;
text-align: center;
}

#span {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#content {
width: 290px;
height: 290px;
background: linear-gradient(black,black,black,black,black,white,white,white,white,black,black);

top: 120px;
position: relative;
left:50px;
margin-right: auto;
margin-left: auto;

border-top-left-radius: 290px 290px;
border-top-right-radius: 290px 290px;
border-bottom-right-radius: 290px 290px;
border-bottom-left-radius: 290px 290px;
box-shadow: 8px 8px 8px 8px black;
}
#contact{

}
#social {
  z-index: 99999;
  color: purple;
  position: absolute;
  top: 115px;
  left: 85px;

}
#social li a {
  color: black;
  font-family: "Romanesco";
  font-size: 20px;
  text-decoration: none;
}
#social li a:hover {
  color: blue;
  font-size: 24px;
 }

#social ul li {
margin-top: -3px;
  position: relative;


}
#social ul {
  list-style-type: none;
}


#content h1{
  font-family: IM Fell French Canon SC;
  font-size: 22px;
  color: black;
  position: relative;
  top: 80px;
  left: 100px;
}

#content h3{
font-family: 'IM Fell French Canon', serif;
  font-size: 15px;
  position: relative;
  top: 75px;
  left: 120px;
}

#main h4{

}
#contact {
  color: white;
text-align: center;
  font-family: 'Pompiere';
 font-size: 16px;
  position: absolute;
  top: 83px;
  left: 25px;
  width: 250px;


}
#footer {
  position: fixed;
  top: 775px;
  width: 300%;
  height: 120px;
  background-color: black;
 z-index: 99999;
  left: -100px;
  border-top: 4px solid red;
}