body {
  width: 1080px;
  height: 1000px;
  position: absolute;
  background-color: black;
  overflow-y: hidden;
}

#header {
  width: 105.5%;
  height: 183px;
  background-color: black;
  float:left;
  top: -30px;
  left: -70px;
  position: fixed;
  z-index: 99999;
  border-bottom: 10px solid red;
}

#header h3 {
  position: absolute;
  top: -10px;
  color: red;
  left:425px;
  font-family: Almendra;
}

#main-box {
  width: 610px;
  height: 30px;
  background-color: black;
  position: relative;
  left: -70px;
  top: 20px;
  margin-left: 40px;
}

#main-box h1 {
  color: white;
  position: relative;
  left: 129px;
  top: -2px;
  font-family: 'IM Fell French Canon SC', sans-serif;
  font-size: 22px;
  font-style: italic;
  color: red;
}

#content{
  width: 129%;
  height: 650px;
  position: fixed;
  background-image: url('../img/bkgpic.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 55px;
  left: -270px;
  top: 130px;
}



#wrapper-box {
  position: relative;
  width: 525px;
  margin-top: 100px;
  left: 50px;
  top: 90px;
  z-index: 99998;
}

#title {
  color: red;
  font-size: 42px;
  position: relative;
  top: -305px;
  font-family: 'Jacques Francois Shadow';
}

#title h1{
position: relative;
top: -5px;
text-align: center;
}


#main {
width: 400px;
height: 690px;
background: linear-gradient(black, #158DD9, #07324C, black, #083A59);
top: -10px;
position: relative;
margin-left: auto;
margin-right: auto;
border-left: 5px solid #BF0000;
border-right: 5px solid #BF0000;
}

#social {
  z-index: 99999;
  color: purple;
  position: relative;
  top: 100px;
}
#social li a {
  color: #E5E30B;
  font-family: "Playball";
  font-size: 24px;
}
#social ul li {
  margin-top: 12px;
  position: relative;
  left: 115px;
  top: 25px;
}
#social ul {
  list-style-type: none;
}


#main h1{
  font-family: IM Fell French Canon SC;
  font-size: 22px;
  color: black;
  position: relative;
  top: 80px;
  left: 100px;
}

#main h3{
font-family: 'IM Fell French Canon', serif;
  font-size: 15px;
  position: relative;
  top: 75px;
  left: 120px;
}

#main h4{

}
#main p{
  color: black;
  font-family: 'Merienda';
 font-size: 18px;
  position: relative;
  top: 110px;
  left: 45px;
  width: 320px;


}
#footer {
  position: fixed;
  top: 775px;
  width: 300%;
  height: 120px;
  background-color: black;
 z-index: 99999;
  left: -100px;
  border-top: 4px solid red;
}