section {
  position: relative;
  top: -50px;
  height: 600px;
  width: 600px;
  background-color: orange;
}

#canvas {
position: absolute;
left: -58px;
top: -100px;
z-index: 99995;
}


#description{
  width: 270px;
  height: 359px;
  background-color: #FFF093;
  border: 2px outset black;
  position: absolute;
  float: left;
  left: 53px;
  top: 10px;
}

p {
  font-family: 'Old Standard TT';
  position: relative;
  top: -12px;
  padding-left: 5px;
  font-size: 14px;
}


