.gradient-screen {
/*z-index:99997;*/
/*background-color: black;
background-image: url(http://www.transparenttextures.com/patterns/light-mesh.png);*/
z-index:99989;
/*background-color: #00010f;
background-image: url(http://www.transparenttextures.com/patterns/brilliant.png);*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
height: 83px;
  width: 110%;
  position: fixed;
  top: 38px;
  opacity: .65;
/*  background-color: #000000;
background-image: url(http://www.transparenttextures.com/patterns/cubes.png);*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/*background-color: #000000;
background-image: url(http://www.transparenttextures.com/patterns/skulls.png);*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/*background-color: #000000;
background-image: url(http://www.transparenttextures.com/patterns/dark-leather.png)*/;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/*background-color: #1a0c00;
background-image: url(http://www.transparenttextures.com/patterns/retina-wood.png);*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
background-color: #000000;
background-image: url(http://www.transparenttextures.com/patterns/dark-wall.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#canvas {
position: absolute;
left: 400px;
top: 100px;
z-index: 99999;
}

h1{
/*  background-color: black;*/
position: relative;
top: -11px;
left: 3%;
text-align: center;
text-decoration: bold;
color: #F7DD18;
/*color: #0D2144;*/
clear:both;
display: inline-block;
z-index: 99999;
font-family: "Germania One";
font-size: 19px;
/*text-shadow: 2px 2px red;*/
/*text-outline: 1px 1px white;*/

  /* -webkit-text-fill-color: #0D2144;  Will override color (regardless of order)
   -webkit-text-stroke-width: .2px;
   -webkit-text-stroke-color: #F7DD18;*/

}

#title{
  font-size: 24px;
  position: relative;
top: 45px;
  font-family: "Stalemate";
/*color: #AFEC23;*/
color: yellow;

  margin-left :15px;

  left: 76px;
  z-index: 99997;

}


.content {
width: 50px;
height: 50px;
/*background: linear-gradient(#E82C0C,#F52E0C,#CF270A,#CF270A,#F52E0C,#CF270A,#A82008,#F52E0C,#F52E0C,#CF270A);*/
/*background: linear-gradient(#E82C0C,#E82C0C,#E82C0C,black,black, black,black,black,black,black,#F52E0C,#F52E0C,#CF270A);*/
/*background: linear-gradient(black,black,black,black,black, black,black,black,black,#A82008,#F52E0C,#F52E0C,#CF270A);*/
background: linear-gradient(black,black,black,black,#AFEC23,#AFEC23);
top: 26px;
position: absolute;
left:92px;
margin-right: auto;
margin-left: auto;

border-top-left-radius: 50px 50px;
border-top-right-radius: 50px 50px;
border-bottom-right-radius: 50px 50px;
border-bottom-left-radius: 50px 50px;


}



#search-p{
  position: fixed;
  font-family: "Bentham";
  font-size :12px;
  color: #AFEC23;
  top:-6px;
  width: 150px;
  left: 1018px;
  text-align: justify;
  line-height: 19px;
}
/*.pclass{
  text-align: justify;
  line-height: 13px;
   font-family: "Bentham";
  font-size :14px;
  color: #AFEC23;
   position: fixed;
   left: 1065px;
   top: -9px;
}*/









#move-down {
/*  position: fixed;
  top: 200px;*/
/*  z-index:99999;*/
   background: linear-gradient(#AFEC23,#AFEC23);
  height: 1px;
  width: 110%;
  z-index:99999;
/*  border-top: 1px solid #AFEC23;*/
  border-bottom: 1px solid #AFEC23;
  box-shadow: 1px 1px 5px #AFEC23;
  position: fixed;
  top: 57px;
}






#low-bar {
  background: linear-gradient(#AFEC23,#AFEC23,black);
  height: 1px;
  width: 110%;
  border-bottom: 1px solid #AFEC23;
  border-top: 1px solid #AFEC23;
  top: 81px;
  position:relative;
  box-shadow: 1px 1px 4px #AFEC23;
  z-index: 99999;
/*  opacity:.9;*/
}


#make-darkness {
  width: 100%;
  height: 45px;
  position: fixed;
/*  background-color: white;*/
  opacity: 1;
  z-index: 99888;
  border-bottom: 2px solid red;

background-color: #000000;
background-image: url(http://www.transparenttextures.com/patterns/soft-wallpaper.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#mid-bar {
/*  background: linear-gradient(#AFEC23,#AFEC23);*/
background: linear-gradient(#0F5E11, #afec23);
  height: 6px;
  width: 110%;
  z-index:99999;
  border-top: 3px double #0F5E11;
/*  border-bottom: 3px outset #506C10;*/
/*  border-bottom: 1px solid #AFEC23;*/
  box-shadow: 1px 1px 16px black;
  position: fixed;
  top: 47px;
  border-bottom: 3px solid #F7DD18;
}





#top-bar {
background-color:black;
height: 30px;
width: 110%;
position: fixed;
left: -15px;
/*top:-9px;*/
/*top:70px;*/
z-index:99999;
border-bottom: 1px solid #AFEC23;
border-top: 1px solid #AFEC23;
top: 28px;

/*background-color: #000000;
background-image: url(http://www.transparenttextures.com/patterns/cross-scratches.png);*/

/*background-color: #000000;
background-image: url(http://www.transparenttextures.com/patterns/black-thread.png)*/


background-color: #000000;
background-image: url(http://www.transparenttextures.com/patterns/felt.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/*#title-two{
  z-index: 99999;
  position: absolute;
  top: 240px;
  left: 620px;
width: 400px;}*/




header {
/*  width: 100%;
  height: 74px;*/
  position: fixed;
/*  left: -10px;
  top:33px;
  background-color: black;
/*  border-bottom: 3px solid #AFEC23;*/*/
  clear: both;
  z-index: 99999;
}




h2{
 /* color: #F7DD18;*/
/*  color: #17181F;*/
  color: #AEF70E;
  font-family: 'Smythe', sans-serif;
  font-size: 28px;
  /*position: fixed;*/
 /* left: 46.75%;
  top: 8px;*/
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -29px;
  z-index:99999;
  left: 38px;
  /*text-shadow: 3px 3px 3px #0110D2;*/
/*text-shadow: 6px 6px 6px black;*/
}
#move-icon {
  position: relative;
  top: 5px;

}

.box{
  height:45px;
  width: 38px;
  margin-left: -6px;
/*  display: inline-block;*/
margin-bottom: 35px;
  position: relative;
  top: 11px;
  left: 8px;
  box-shadow: 1px 1px .5px black;
border: 1.5px outset black;
}

nav {
  width: 290px;
position: fixed;
left: .5%;
  top: 25px;
 z-index:99999;
/*background-color:#635A55;
 border-bottom: 3px outset #D95A52;
 border-left: 3px outset #D95A52;
 border-right: 3px outset #D95A52;*/
 height: 25px;

}


nav ul {
  list-style: none;
  position: relative;
  top: -16px;
  left: -44px;

}

nav ul li {
  display: inline;
  color: #D95A52;
  margin-left: 5px;

}

nav ul li a {
  text-decoration: none;
  color: WHITE;
  font-family: "EB Garamond";
  font-size: 12px;
}

nav ul li a:hover {
  color: blue;
}


#search-bar {
  width: 230px;
  height: 22px;
  background-color: #AFEC23;
  position: absolute;
  top: 4px;
/*  float:right;*/
/*  top: 92px;*/
  /*left: 80px;*/
  left: 75%;
  border: 2px outset black;
z-index: 99999;}



/*section {
background-color:black;
background-image:
radial-gradient(#AFEC23 9px, transparent 10px),
repeating-radial-gradient(#AFEC23 0, #AFEC23 4px, transparent 5px, transparent 20px, #AFEC23 21px, #AFEC23 25px, transparent 26px, transparent 50px);
background-size: 30px 30px, 90px 90px;
background-position: 0 0;

  width: 110%;
  height: 100%;
  position: relative;
  top: 1%;
  z-index:99999;
  opacity: .7;
}*/




/*.screen {
  height: 70px;
  width: 110%;
  position: fixed;
  top: 23px;
  opacity: 1;
  background-color: black;
/*  z-index:99990;*/
/*}
*/


#social ul {
  list-style-type: none;
  width: 300px;
/*  margin-left: 10px;*/
  position: fixed;
  top:-11px;
  left: 79%;
  z-index: 99999;

}
#social ul li {
  display: inline;
  margin-left: 20px;
  z-index: 99999;
}

.circle {
width: 50px;
height: 50px;
/*background: linear-gradient(#E82C0C,#F52E0C,#CF270A,#CF270A,#F52E0C,#CF270A,#A82008,#F52E0C,#F52E0C,#CF270A);*/
/*background: linear-gradient(#E82C0C,#E82C0C,#E82C0C,black,black, black,black,black,black,black,#F52E0C,#F52E0C,#CF270A);*/
/*background: linear-gradient(black,black,black,black,black, black,black,black,black,#A82008,#F52E0C,#F52E0C,#CF270A);*/
background: linear-gradient(black,black,black,black,#AFEC23,#AFEC23);
top: 26px;
position: absolute;
left:92px;
margin-right: auto;
margin-left: auto;

border-top-left-radius: 50px 50px;
border-top-right-radius: 50px 50px;
border-bottom-right-radius: 50px 50px;
border-bottom-left-radius: 50px 50px;


}


#parallelogram {

  position: fixed;
  top: 12px;
  left: 40.8%;

  z-index: 99999;

/*background-color: #006a8a;
background-image: url(http://www.transparenttextures.com/patterns/washi.png);*/
/*background-color: gold;
border: 2px outset gold;*/

  width: 140px;
  height: 23px;
/*
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;*/
}

#parallelogram a {
  position: relative;
  top: -5px;
  font-family: "EB Garamond";
}


#extras ul {
  list-style-type: none;
  width: 1100px;
/*  margin-left: 10px;*/
  position: fixed;
  top:-15px;
  left: 55%;
  z-index: 99999;

}
#extras ul li {
  display: inline;
  margin-left: 10px;
  z-index: 99999;
  font-size: 12px;
  color: white;
}

#extras ul li a {
  color: white;
  text-decoration: none;
  font-family: "EB Garamond";
}


