#one{
background-image: url('../img/home-.png');
background-repeat: no-repeat;

}
#one:hover {
  background-image: url('../img/hhomex.png');
  background-repeat: no-repeat;
}
#two {
background-image: url('../img/blog-.png');
background-repeat: no-repeat;

}
#two:hover {
  background-image: url('../img/hblogx.png');
  background-repeat: no-repeat;
}

#three {
background-image: url('../img/portfolio-.png');
background-repeat: no-repeat;

}
#three:hover {
  background-image: url('../img/hportfoliox.png');
  background-repeat: no-repeat;
}


#four {
background-image: url('../img/about-.png');
background-repeat: no-repeat;


}
#four:hover {
  background-image: url('../img/haboutx.png');
  background-repeat: no-repeat;

}
#five {
background-image: url('../img/contact-.png');
background-repeat: no-repeat;

}
#five:hover {
  background-image: url('../img/hcontactx.png');
  background-repeat: no-repeat;
}


#link1 {
  display: inline-block;
  margin-left: 3px;
  position: absolute;
  top: 0px;
  left: 5px;
  color: black;
 font-family: 'Signika';
 font-size: 9px;
  text-decoration: none;
  font-weight: bold;
  /*text-shadow: 1px 1px grey;*/
}
#link2 {
  display: inline-block;
  margin-left: 3px;
  position: absolute;
  top: 85px;
  left: 5px;
  color: black;
 font-family: 'Signika';
 font-size: 9px;
  text-decoration: none;
  font-weight: bold;
/*  text-shadow: 1px 1px grey;*/
}
#link3 {
  display: inline-block;
  font-weight: bold;
  margin-left: 3px;
  position: absolute;
    top: 0px;
  left: 78px;
  color: black;
  font-family: 'Signika';
 font-size: 9px;
  text-decoration: none;
/*  text-shadow: 1px 1px grey;*/
}
#link4 {
  display: inline-block;
  margin-left: 3px;
  position: absolute;
   top: 0px;
  left: 118px;
 /* color: #AFEC23;*/
 color: black;
 font-family: 'Signika';
 font-weight: bold;
 font-size: 9px;
  text-decoration: none;
/*  text-shadow: 1px 1px grey;*/
}
#link5 {
  display: inline-block;
  margin-left: 3px;
  position: absolute;
    top: 0px;
  left: 152px;
  color: black;
  font-weight: bold;
  font-family: 'Signika';
 font-size: 9px;
  text-decoration: none;
/*  text-shadow: 1px 1px grey;*/
}

