body{
  width: 100%;

  background-image: url('../img/new-bkg.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#span {
  position: fixed;
  top: -2px;
  margin-left: auto;
  margin-right: auto;
  left: 34%;

  width: 500px;
  z-index: 99999;
}

h1 {
  text-align: center;
  font-family: 'IM Fell French Canon SC', sans-serif;
  font-size: 26px;
  font-style: italic;
  color: red;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: -10px;
}
header {
  width: 120%;
  height: 200px;
  position: fixed;
  left: -50px;
  top: -20px;
  background-color: black;
}
nav {

  height: 30%;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: -5px;

}

.nav {
  height:117px;
  width: 75px;
  margin-left: 12px;
  left: 10px;
position: relative;

  display: inline-block;
  margin-top:50px;

}

#n-one{
background-image: url('../img/luther-blog.png');
background-repeat: no-repeat;
}
#n-one:hover {
  background-image: url('../img/hov-blog.png');
  background-repeat: no-repeat;
}

#n-two {
background-image: url('../img/hegel-portfolio.png');
background-repeat: no-repeat;
}
#n-two:hover {
  background-image: url('../img/hov-portfolio.png');
  background-repeat: no-repeat;
}

#n-three {
background-image: url('../img/lukacs-about.png');
background-repeat: no-repeat;
}
#n-three:hover {
  background-image: url('../img/hov-about.png');
  background-repeat: no-repeat;
}

#n-four {
background-image: url('../img/hammurabi-goals.png');
background-repeat: no-repeat;
}
#n-four:hover {
  background-image: url('../img/hov-goals.png');
  background-repeat: no-repeat;
}
#n-five {
background-image: url('../img/ibsen-contact.png');
background-repeat: no-repeat;
}
#n-five:hover {
  background-image: url('../img/hov-contact.png');
  background-repeat: no-repeat;
}