.box{
  height:105px;
  width: 65px;

margin-left: 5px;
  display: inline-block;



}


#one{
background-image: url('../img/mini-home.png');
background-repeat: no-repeat;
}
#one:hover {
  background-image: url('../img/mh-home.png');
  background-repeat: no-repeat;
}
#two {
background-image: url('../img/mini-blog.png');
background-repeat: no-repeat;
}
#two:hover {
  background-image: url('../img/mh-blog.png');
  background-repeat: no-repeat;
}

#three {
background-image: url('../img/mini-portfolio.png');
background-repeat: no-repeat;
}
#three:hover {
  background-image: url('../img/mh-portfolio.png');
  background-repeat: no-repeat;
}


#four {
background-image: url('../img/mini-about.png');
background-repeat: no-repeat;
}
#four:hover {
  background-image: url('../img/mh-about.png');
  background-repeat: no-repeat;
}
#five {
background-image: url('../img/mini-contact.png');
background-repeat: no-repeat;
}
#five:hover {
  background-image: url('../img/mh-contact.png');
  background-repeat: no-repeat;
}

header {
width: 105%;
  height: 170px;
  background-color: black;
  position: fixed;
  left: -10px;

  z-index: 99999;
  border-bottom: 5px double red;
}

h2{
  color: red;
  padding-left: 15px;
  clear: both;
  font-family: 'IM Fell French Canon SC', sans-serif;
  font-size: 23px;
  font-style: italic;

}

nav {
  width: 405px;
  padding-left: 25px;
float: left;
  position: relative;
  margin-top: -10px;
  top: 67px;
clear: both;
display: inline-block;
}


h1{
position: absolute;
top: 19px;
left: 45%;
text-align: center;
color: red;
clear:both;
display: inline-block;

font-family: "Nothing You Could Do";
font-size: 60px;

}


address {
position: relative;
float:right;
top: 1px;
margin-right: 75px;
}

address a {
margin-right: 15px;
color:red;
font-family: "Francoise One";
font-size: 18px;
display: inline;
text-decoration: none;
}
address a:hover{
  color: pink;
  font-size: 18px;
}

#title{
  position: relative;
top:1px;
  font-family: "IM Fell French Canon SC";
 font-family: "Herr Von Muellerhoff";
  margin-left :20px;
  font-size: 44px;
  left: -410px;
  z-index: 99999;
}