body {
  width: 1080px;
  height: 1000px;
  position: absolute;
}

#header {
  width: 105.5%;
  height: 183px;
  background-color: black;
  float:left;
  top: -30px;
  left: -70px;
  position: fixed;
  z-index: 99997;
  border-bottom: 10px solid red;
}



#main-box {
  width: 610px;
  height: 30px;
  background-color: black;
  position: relative;
  left: -70px;
  top: 20px;
  margin-left: 40px;
}

#main-box h1 {
  color: white;
  position: relative;
  left: 129px;
  top: -2px;
  font-family: 'IM Fell French Canon SC', sans-serif;
  font-size: 22px;
  font-style: italic;
  color: red;
}

#content{
  width: 129%;
  height: 650px;
  position: fixed;
    background-image: url('../img/bkgpic.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 55px;
  left: -100px;
  top: 140px;
}

#wrapper-box {
  position: fixed;
  width: 525px;
  z-index: 99980;
  margin-top: 100px;
  left: -25px;
  top: 110px;
  height: 200px;

}

#title {
  color: red;
  font-size: 42px;
  position: relative;
  top: -50px;
  font-family: 'Jacques Francois Shadow';
}

#title h1{
position: relative;
top: -5px;
text-align: center;
}




#tabs {
position: relative;
height: 50px;
width: 310px;
top: -124px;
float: right;
margin-right: 90px;


}


#tab1 {
  display: inline-block;
  width: 135px;
  height: 33px;
   background-color: #7F0000;

  position: relative;
  top: 7px;

}
#tab2 {
  background-color: red;

width: 145px;
height: 35px;
display: inline-block;
position: relative;
top: 7px;

}
#tab1 a {
  text-decoration: none;
  color: red;
  position: relative;
  left: 35px;
  color: red;
  font-family: 'IM Fell French Canon SC';
  font-size: 18px;
  top: 9px;
}
#bar{
  width: 145%;
  height: 14px;
  background-color: red;
  z-index: 99998;
  position: fixed;
  top: 152px;
  left: -10px;

}


#spantab {
  font-family: 'IM Fell French Canon SC';
  font-size: 18px;
  color: black;
  left: 30px;
  position: relative;
  top: 9px;
}
#tab1 a:hover {
  color: yellow;
}



#column {
width: 150px;
height: 100%;
background-color: #7F0000;
position: relative;
left: 323px;
border-left: 5px solid red;
}




#links p {
  color: red;
  position: relative;
 font-family: 'IM Fell French Canon SC', serif;
 font-size: 15px;
  top: 40px;
  left: 20px;

}
#links a {
  color: #00BDFF;
  font-family: 'IM Fell French Canon';
  font-size: 14px;
  position: relative;
  left: 20px;
  top: 22px;
}

#main h1{
  font-family: 'IM Fell French Canon SC';
  font-size: 32px;
  color: black;
  position: relative;
  font-weight: bold;
  top: 40px;
  left: 30px;
}

#main h3{
font-family: 'IM Fell French Canon', serif;
  font-size: 15px;
  position: relative;
  top: 35px;
  left: 50px;
}

#main h4{

}
#main p{
  color: black;
  font-family: 'IM Fell French Canon', serif;
  position: relative;
  top: 45px;
  left: 30px;
  width: 500px;
  height: 500px;

}


#footer {
  position: fixed;
  top: 775px;
  width: 300%;
  height: 120px;
  background-color: black;
 z-index: 99996;
  left: -100px;
  border-top: 8px solid red;
}

#container {
position: relative;
width: 950px;
height: 800px;
margin-left: auto;
margin-right: auto;
clear: both;

}

#blognav {
position: relative;
float: left;
background-color: red;
width: 150px;
z-index: 99999;
display: inline-block;

}
#main {
width: 780px;
background-color: white;
height: 800px;
top: 23px;
display: inline-block;
position: relative;
float: right;
z-index: 99995;

}
#blognav a {

}
#content #container #blognav a:hover {
  color: yellow;
  }