body {
  width: 990px;
  height: 2000px;

}

#content {
width: 700px;
height: 100%;
background-color: white;
top: 30px;
position: absolute;
float: right;
left: 140px;
margin-left: 10px;
padding-top: -20px;
border-right: 2px solid black;
}
#content h1{
  font-family: 'IM Fell French Canon SC';
  font-size: 32px;
  color: black;
  position: relative;
  top: 40px;
  left: 85px;
   width: 500px;
}

#content h3{
font-family: 'IM Fell French Canon', serif;
  font-size: 16px;
  position: relative;
  top: 33px;
  left: 95px;

  font-weight: normal;
}

#content p{
  color: black;
  font-family: 'IM Fell French Canon';
  font-size: 16px;
  position: relative;
  top: 40px;
  left: 85px;
  width: 470px;

}
#content h2{
  font-family: 'IM Fell French Canon';
  font-size: 18px;
  position: relative;
  font-style: italic;
  font-weight: normal;
  top: 400px;
  left: 485px;
  color: yellow;
}

#column-left {
width: 150px;
height: 100%;
background-color: #7F0000;
position: relative;
float: left;

margin-right: 25px;
margin-left: -8px;
top: -60px;
z-index: 99998;

}
#links-left {
  position: fixed;
  top: 30px;
  left: -165px;
z-index: 99999;


}
#links-left p {
  color: red;
  position: relative;
 font-family: 'IM Fell French Canon SC', serif;
 font-size: 15px;
  top: 40px;
  left: 200px;

}
#links-left a {
  color: #00BDFF;
  font-family: 'IM Fell French Canon';
  font-size: 14px;
  position: relative;
  left: 200px;
  top: 22px;
}

#links-left a:hover {
  color: yellow;

}
#column-right {
width: 150px;
height: 100%;
background-color: #7F0000;
position: relative;
float: right;

margin-right: 5px;
margin-left: -8px;
top: -60px;
left:-18px;
z-index: 99999;

}
#links-right {
  position: fixed;
  top: 35px;
  left: 660px;
z-index: 99999;




}
#links-right p {
  color: red;
  position: relative;
 font-family: 'IM Fell French Canon SC', serif;
 font-size: 15px;
  top: 40px;
  left: 200px;

}
#links-right a {
  color: #00BDFF;
  font-family: 'IM Fell French Canon';
  font-size: 14px;
  position: relative;
  left: 200px;
  top: 22px;
}

#links-right a:hover {
  color: yellow;

}





#fixed-header {
width: 200%;
height: 70px;
background-color: white;
position: fixed;
top: -10px;
z-index: 99998;
}

#column-right h2 {
  font-family: IM Fell French Canon;
  font-size: 24px;
  color: yellow;
  position: relative;
  top: -499px;
}